<?xml version="1.0"?>
<launch>

  <include file="$(find ir_final_project)/launch/map_server.launch"/>
  <!--    roslaunch socspioneer keyboard_teleop.launch-->
  <include file="$(find socspioneer)/launch/keyboard_teleop.launch"/>

  <group ns="mcl">
    <node name="pf_mcl" pkg="ir_final_project" type="node.py" output="screen"/>
  </group>

  <!--  <group ns="amcl">-->
  <!--  </group>-->

  <include file="$(find ir_final_project)/launch/rviz.launch"/>


</launch>
